# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ThirdPersonGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\johnh\Documents\GitHub\ThirdPersonGame\.idea\.idea.ThirdPersonGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
